html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  display: none;
}

.gm-style-iw + div {
  display: none;
}

.trade-area {
  resize: none;
}

.inventory-title {
  text-align: center;
}
